.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal_open {
  display: flex;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  width: 100%;
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 50%;
}

.modal__heading {
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  /* margin: 0; */
  margin-bottom: 54px;
  margin-top: 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  width: 100%;
  border-bottom: 1px 20% #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: 0;
  height: 50px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 70%;
}

@media (max-width: 320px) {
  .modal__container {
    padding: 25px 22px;
  }
  
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
  }

  .modal__button {
    font-size: 14px;
    line-height: 17px;
    margin-top: 15px;
  }


  .modal__close {
    left: 250px;
    width: 26px;
  }
}
