.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  align-items: center;
  justify-content: center;
  display: none;
}

.modal__open {
  display: flex;
}

.modal__container {
  background-color: #fff;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  /* max-width: 430px;
 height: 330px; */
}

.modal__close {
  background-image: url(../images/close-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
}

.modal__close:hover {
    opacity: 50%;
}

.modal__heading {
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;
  /* padding-bottom: 54px; */
}

.modal__form {
  display: flex;
  flex-direction: column;
  /* width: 430px;
  height: 330px; */
}

.modal__input {
  display: block;
  width: 100%;
  border-bottom: 1px 20% #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

.modal__button {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
}

.modal__button:hover {
    opacity: 70%;
}

/* fix the layout styles of the modal */

/* move close button at 630-320 */
